body { margin:0; padding:0; font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif }

body.index { padding:2px 15px; }

h1 { margin: 5px 0 10px; }
h2 { margin: 5px 0 10px; font-size:1.1em; }
h3 { margin:25px 0 0; }

.index p { margin-top:2px; }

pre { font-size: 0.9em; }

.fs-standard-resolution { border-top:5px solid red; border-bottom:5px solid red; }

.fs-high-resolution { border-top:5px solid green; border-bottom:5px solid green; }

#qr { margin-top:90px; width:200px; font-size:10px; text-align:center; }
