/*
 * USED ONLY TO STYLE THE DEMO PAGES
 * THIS CSS HAS NOTHING TO DO WITH HOW FORESIGHT.JS WORKS
 * 
 */
body { margin:0; padding:0; font:12px/16px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif }

body.index { padding:2px 15px; }

h1, h2 { margin: 10px 0; }
h3 { margin:25px 0 0; }

li { margin-bottom: 10px;}

.index p { margin-top:2px; }

section { margin:0 10px; }

article p { padding-right:15px; }

article p:first-child { margin-top:0; }

pre { font-size: 0.9em; text-align:left; }

.fs-standard-resolution { border-top:5px solid red; border-bottom:5px solid red; }

.fs-high-resolution { border-top:5px solid green; border-bottom:5px solid green; }

#qr { margin-top:90px; width:200px; font-size:10px; text-align:center; }